@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #712F26;
  --secondary: #505050;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
}

.testimonial-slider {
  padding-bottom: 3rem !important;
}

.testimonial-slider .swiper-pagination {
  bottom: 0 !important;
}

.testimonial-slider .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.testimonial-slider .swiper-pagination-bullet-active {
  background: var(--primary);
  opacity: 1;
}